@page
@model DotsAndBoxesWeb.Pages.GameModel
@{
    ViewData["Title"] = "Dots and Boxes Game";
}

<div class="text-center">
    <h1 class="display-4">Dots and Boxes</h1>
    <form autocomplete="off" method="post">
        <div class="col col-12 margin-30">
            <fieldset>
                <div class="row margin-30">
                    <section class="col-12">
                        <label style="font-family: courier;" class="control-label">@Html.Raw(Model.DataResponse.Message)</label>
                        <input type="hidden" asp-for="DataResponse.Id" />
                    </section>
                </div>
                <div class="row">
                    <section class="col-4">
                    </section>
                    <section class="col-4">
                        <label class="control-label">Position (Format: Aa / aA)</label>
                        <input type="text" asp-for="DataResponse.Play" class="form-control" value="@Model.DataResponse.Play" />
                    </section>
                    <section class="col-4">
                    </section>
                </div>
            </fieldset>
        </div>
        <div class="col col-12">
            <fieldset>
                <div class="row margin-30">
                    <section class="col-12">
                        For games with no human players, the play button needs to be pressed for each opponent.<br />
                        For games with at least one human player, a valid position must be informed before push play button.
                    </section>
                </div>
                <div class="row">
                    <section class="col-4">
                    </section>
                    <section class="col-4">
                        <button asp-page-handler="Play" class="form-control btn-success" type="submit">Play</button>
                    </section>
                    <section class="col-4">
                    </section>
                </div>
            </fieldset>
        </div>
    </form>
</div>